extends layout

block content
    div.w3-container.w3-content(style="max-width:1400px;margin-top:70px")
        div.w3-row
            div.w3-col.m3 
                div.w3-card.w3-round.w3-green
                    .w3-container
                        h4.w3-center O meu perfil
                        p.w3-center
                            img(src="../avatar/"+data[3].loggedUser.fotoPath class="w3-circle" style="height:106px;width:106px" alt="Avatar")
                        hr
                        p
                            i(class="fa fa-pencil fa-fw w3-margin-right w3-text-theme")= data[3].loggedUser.username
                            //data[2].loggedUser to get current user data...
                            
                        p
                            i(class="fa fa-home fa-fw w3-margin-right w3-text-theme")= data[3].loggedUser.course
                        p
                            i(class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme")= data[3].loggedUser.type.charAt(0).toUpperCase() + data[3].loggedUser.type.slice(1)
                            //This code gets the 1st letter and capitalizes it...
                br
                div.w3-card.w3-round.w3-white
                    .w3-container
                        p
                            a.w3-button.w3(href="/novapub" style="margin-left:50px") Criar uma publicação
                        p
                            a.w3-button.w3(href="/eventos" style="margin-left:50px") Os meus eventos
                br      
            div.w3-col.m7 
                div.w3-row-padding
                    div.w3-col.m12
                            br
                    each p in data[1].posts
                            each u in data[0].users
                                if u.id == p.postedBy
                                    div.w3-container.w3-card.w3-white.w3-round.w3-margin
                                        img(src="../avatar/"+u.fotoPath alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px")
                                        span.w3-right.w3-opacity=p.datePosted.split('T')[0]+'       '+p.datePosted.split('T')[1].split(':')[0] +':'+ p.datePosted.split('T')[1].split(':')[1]
                                        h4=u.username
                                        hr.w3-clear
                                        p=p.description
            div.w3-col.m2
                div.w3-row-padding
                    a.w3-button.w3-green(href="/logout") Logout
                    div.w3-card.w3-round.w3-white
                            h4.w3-center(style="color:green") Próximo evento
                            hr.w3-clear 
                            p=data[2].events[0].description
                            //treating date format... Getting day from a split
                            p Data : 
                                =data[2].events[0].date.split('T')[0]
                            //treating date format... Getting hour then the minutes.
                            p Hora : 
                                != data[2].events[0].date.split('T')[1].split(':')[0] +':'+ data[2].events[0].date.split('T')[1].split(':')[1]
                                

                            
                            
