extends layout

block content
    h2 Detalhes utilizador @ ISN 
    form(action="/updateProfile" method="post")
        table.w3-table-all
            tr
                td 
                td
                td
                    input(type="text" name="_id" hidden value=user._id)
            tr
                td Name
                td
                    input(type="text" name="name" value=user.name)
                td
                    
            tr
                td Username
                td
                    input(type="text" name="username" value=user.username)
                td
            tr
                td Mail
                td
                    input(type="text" name="mail"  value=user.mail)
                td
            tr
                td Password
                td 
                    input(type="text" name="password" placeholder="Update password" )
                td
            tr
                td Date of Birth
                td  
                    input(type="text" name="dateOfBirth" value=user.dateOfBirth )
                td
            tr
                td Photo
                td
                    img(src="../avatar/"+user.fotoPath class="w3-circle" style="height:106px;width:106px" alt="Avatar")
                td
            tr
                td Course
                td
                    input(type="text" name="course" placeholder="Update course" value=user.course)
                td
            tr
                td Type of user
                td
                    input(type="text" name="type" placeholder="Update type" value=user.type)
                td
            tr
                td
                td
                    input.w3-button.w3-light-green(type="submit" value="Update user")
                td

    br
    a.w3-button.w3-green(href="/main") Main Page